{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Критика</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link
      href="http://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="/static/app.css" />
    <link rel="stylesheet" href="/static/home.css" />
    <link rel="stylesheet" href="/static/calendar.css" />
    <link rel="stylesheet" href="/static/article.css" />
  </head>

  <body>
    {% block content %} {% endblock %}
  </body>
</html>
